<!DOCTYPE html>
<html>
	<head>
		<title>Embroidered Protection | AR</title>
	</head>
<body>
	<h1>How to use this demo page</h1>
	<p>
		<ol>
			<li>Open the page on your mobile device and click 'Scan'</li>
			<li>Open the page in your desktop browser, click 'Get sample image'</li>
			<li>Click on one of the sample images to make it bigger</li>
			<li>Point your mobile device at the screen to see the AR results</li>
		</ol>
	</p>
	<p>Note: for best results, make sure there is no glare on your desktop screen</p>
	<p>You will also need to allow your mobile browser to access your phone camera for this to work</p>
	<a href="/scan" style="font-size:20px; display:inline-block; min-width:100px; background:purple;color:white;text-decoration:none;text-align:center;padding:10px 0;text-transform:uppercase;margin-right:20px;">Scan</a>
	<a href="/images/">Get sample image</a>
</body>
</html>